#paragraphes1 {
    color: blue;
}

#paragraphes2
{
font-family: "Courier New",sans-serif;


}
#paragraphes3 {
    text-align: center;

}
#paragraphes4 {
 font-size: 50px;

}
#paragraphes5 {
 background-color: yellow;

}

#paragraphes6 {
    text-align: center;
}

#paragraphes7 {
    border-width:1px;
    color: blue;
    border-style:dotted;
    border-color:black;
    width: 200px;
}